@import url(https://fonts.googleapis.com/css?family=Varela+Round:regular&display=swap);

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 1.5rem;
  font-family: "Varela Round";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Varela Round";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

body {
  background: #E2DCC8;
}

.fullscreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  padding: 0 0.9375rem;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0px auto;
  max-width: 1024px;
  padding: 0 0.9375rem;
}

.header {
  position: absolute;
  width: 100%;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__list {
  text-align: center;
}

.menu__link {
  position: relative;
  font-size: 2.125rem;
  display: inline-block;
  color: #E2DCC8;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
}

.menu__link::after {
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  display: block;
  position: absolute;
  top: 135%;
  margin: 0 auto;
  left: 0;
  right: 0;
  content: "";
  -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
          transform: scale(0, 0);
  width: 50%;
  height: 0.25rem;
  background-color: #29A19C;
  border-radius: 40px;
}

.icon-menu {
  display: none;
}

.home {
  background-color: #27323A;
}

.home__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.home__image {
  display: none;
}

.home__image img {
  max-width: 457px;
}

.content-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-home > *:not(:last-child) {
  margin-bottom: 25px;
}

.content-home__image img {
  border-radius: 50%;
  max-width: 240px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content-home__title {
  color: #A3F7BF;
  font-size: 1.875rem;
}

.content-home__text {
  color: #E2DCC8;
  max-width: 21.875rem;
  line-height: 1.3;
}

.rollover-button {
  background-color: transparent;
  border: 2px solid #A3F7BF;
  border-radius: 4px;
  display: inline-block;
  color: #A3F7BF;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  letter-spacing: 1px;
  margin: 5px;
  overflow: hidden;
  padding: 0 22px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.rollover-button span {
  display: block;
  position: relative;
  -webkit-transition: all 420ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 420ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 420ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.rollover-button span:last-child {
  color: #E2DCC8;
}

.rollover-button:hover {
  background-color: #29A19C;
  border-color: #29A19C;
}

.rollover-button:hover span {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.rollover-button:active {
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.skills__container {
  text-align: center;
  padding-top: 2.5rem;
}

.skills__title {
  font-size: 1.875rem;
  margin-bottom: 80px;
}

.skills__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.skills__slider {
  will-change: auto;
  min-width: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.skills__slider .slider__item img {
  border-radius: 5%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}

.skills__slider .slick-list {
  overflow: hidden;
}

.skills__slider .slick-track {
  will-change: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.625rem;
}

.skills__slider .slick-dots li {
  margin: 0 0.4375rem;
}

.skills__slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #27323A;
}

.skills__slider .slick-active button {
  background-color: transparent;
  border: 0.0625rem solid #27323A;
}

.skills__slider .slider__item {
  will-change: auto;
  position: relative;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.slick-list {
  will-change: auto;
}

.column-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column-skills__image {
  margin-bottom: 40px;
}

.column-skills__image img {
  max-width: 160px;
}

.column-skills__text {
  max-width: 320px;
  line-height: 1.3;
  font-size: 24px;
}

.design-skills__item {
  background-color: #DCD7C9;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
  padding: 30px 30px 0 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 60px auto;
  -ms-grid-columns: 1fr;
      grid-template: [start] "top" [row2] [row2] "arrow" 60px [row3] [row3] "bottom" [row-end]/1fr;
}

.design-skills__visible {
  grid-area: "top";
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
  -ms-grid-columns: 240px 1fr;
      grid-template: [start] "img title" auto [row2] [row2] "img text" 1fr [row-end]/240px 1fr;
}

.design-skills__main-img {
  grid-area: "img";
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}

.design-skills__main-img img {
  width: 100%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5%;
}

.design-skills__title {
  grid-area: "title";
  margin-bottom: 25px;
  text-align: left;
  font-size: 1.875rem;
  line-height: 1.3;
}

.design-skills__text {
  grid-area: "text";
  -ms-grid-column: 2;
      grid-column-start: 2;
  margin-bottom: 25px;
  text-align: left;
  line-height: 1.3;
  font-size: 1.5rem;
}

.design-skills__arrow {
  grid-area: "arrow";
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  text-align: center;
}

.design-skills__hidden {
  display: none;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}

.design-skills__imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  margin: 31px 0 31px 0;
}

.design-skills__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.design-skills__img img {
  max-width: 100%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5%;
}

.arrow-design-skills {
  display: inline-block;
  position: relative;
  width: 80px;
}

.arrow-design-skills::before,
.arrow-design-skills::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 1px;
  background-color: #596164;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 3px solid #596164;
  border-radius: 10px;
  cursor: pointer;
}

.arrow-design-skills:before {
  -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
          transform: rotate(35deg);
  left: 5.7px;
}

.arrow-design-skills:after {
  -webkit-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
          transform: rotate(-35deg);
  right: 5.7px;
}

.arrow-design-skills.active::before {
  -webkit-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
          transform: rotate(-35deg);
  background: #848b8d;
  border-color: #848b8d;
}

.arrow-design-skills.active::after {
  -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
          transform: rotate(35deg);
  background: #848b8d;
  border-color: #848b8d;
}

.flip-img__items {
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 200px;
  height: 242px;
}

.flip-img__front,
.flip-img__back {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flip-img__front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.flip-img__back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.m-backtotop {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: fixed;
  bottom: -50px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: #27323A;
  border-radius: 25px;
  text-align: center;
  border: 3px solid #E2DCC8;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  opacity: 0;
  overflow: hidden;
  color: #E2DCC8;
}

.m-backtotop.active {
  bottom: 15px;
  opacity: 1;
}

.m-backtotop.active:active {
  -webkit-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.m-backtotop > div {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.m-backtotop > div.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  opacity: 1;
}

.m-backtotop:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  bottom: 20px;
  cursor: pointer;
  background: #080b0c;
  -webkit-box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
}

.fa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fa img {
  width: 100%;
}

.skills {
  background-color: #E2DCC8;
}

.test {
  padding-bottom: 1900px;
  color: #d957ac;
  background-color: #29A19C;
}

.footer {
  background-color: #27323A;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2.5rem;
  gap: 1.875rem;
}

.footer__links img {
  max-width: 1.875rem;
}

.footer__btn {
  width: 3.75rem;
  height: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-size: 300% 100%;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.footer__btn:hover {
  background-position: 100% 0;
}

#footer-tg {
  background-image: -webkit-gradient(linear, left top, right top, from(#25aae1), color-stop(#4481eb), color-stop(#04befe), to(#3f86ed));
  background-image: -o-linear-gradient(left, #25aae1, #4481eb, #04befe, #3f86ed);
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
}

#footer-gmail {
  background-image: -webkit-gradient(linear, left top, right top, from(#eb3941), color-stop(#f15e64), color-stop(#e14e53), to(#e2373f));
  background-image: -o-linear-gradient(left, #eb3941, #f15e64, #e14e53, #e2373f);
  background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
}

#footer-git {
  background-image: -webkit-gradient(linear, left top, right top, from(#343c46), color-stop(#596877), color-stop(#2b5876), to(#4e4376));
  background-image: -o-linear-gradient(left, #343c46, #596877, #2b5876, #4e4376);
  background-image: linear-gradient(to right, #343c46, #596877, #2b5876, #4e4376);
}

@media (min-width: 65.875rem) {
  .skills__slider .slick-slide {
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
    opacity: 0.7;
  }

  .skills__slider .slider__item.slick-slide.slick-center + .slick-slide {
    -webkit-transform: scale(0.8) translate(-449px);
        -ms-transform: scale(0.8) translate(-449px);
            transform: scale(0.8) translate(-449px);
  }

  .skills__slider .slider__item.slick-slide.slick-center + .slick-slide + .slider__item.slick-slide {
    -webkit-transform: scale(0.7) translate(-600px);
        -ms-transform: scale(0.7) translate(-600px);
            transform: scale(0.7) translate(-600px);
  }

  .skills__slider .slider__item.slick-slide.slick-active {
    -webkit-transform: scale(0.8) translate(449px);
        -ms-transform: scale(0.8) translate(449px);
            transform: scale(0.8) translate(449px);
  }

  .skills__slider .slider__item.slick-slide.slick-center {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    z-index: 30;
    opacity: 1;
  }
}

@media (min-width: 767.98px) {
  .header__container {
    min-height: calc(80px + 20 * ((100vw - 767.98px) / 286.02));
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 70px;
  }

  .menu__link {
    font-size: 1.25rem;
  }

  .menu__link:hover {
    color: #A3F7BF;
  }

  .menu__link:hover::after {
    -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
            transform: scale(1, 1);
  }

  .home__container {
    margin-top: calc(0px + 50 * ((100vw - 767.98px) / 286.02));
  }

  .home__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .content-home {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .skills__title {
    margin-bottom: calc(40px + 40 * ((100vw - 767.98px) / 286.02));
  }

  .slick-list:before {
    content: "Visit";
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    font-size: 0.875rem;
    border-radius: 5px;
    padding: 10px 30px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: -50px;
    width: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    visibility: hidden;
  }

  .slick-list:not(.slick-dots):hover::before {
    opacity: 1;
    visibility: visible;
  }

  .column-skills__text {
    font-size: calc(20px + 4 * ((100vw - 767.98px) / 286.02));
  }

  .flip-img__items:hover {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
}

@media (min-width: 767.98px) and (min-width: 767.98px) {
  .menu__list {
    gap: calc(40px + 30 * ((100vw - 767.98px) / 286.02));
  }
}

@media (min-width: 767.98px) and (min-width: 1054px) {
  .menu__list {
    gap: 70px;
  }
}

@media (min-width: 1054px) {
  .header__container {
    min-height: 100px;
  }

  .home__container {
    margin-top: 50px;
  }

  .skills__title {
    margin-bottom: 80px;
  }

  .column-skills__text {
    font-size: 24px;
  }
}

@media (min-width: 1440px) {
  .home__container {
    margin-top: 0;
  }
}

@media (max-width: 1024px) {
  .home__image img {
    max-width: calc(257px + 200 * ((100vw - 320px) / 734));
  }
}

@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 46.875rem;
  }

  .skills__slider .slider__item img {
    max-width: 320px;
  }

  .skills__slider .slider__item .slick-active {
    opacity: 0;
  }
}

@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
  }

  .header__container {
    min-height: 80px;
  }

  .menu__body {
    -webkit-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
            transform: translate(0, -100%);
    -webkit-transition: -webkit-transform 0.8s ease 0s;
    transition: -webkit-transform 0.8s ease 0s;
    -o-transition: transform 0.8s ease 0s;
    transition: transform 0.8s ease 0s;
    transition: transform 0.8s ease 0s, -webkit-transform 0.8s ease 0s;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    padding: 70px 10px 30px 10px;
    background-color: #333;
  }

  .menu__body.active {
    -webkit-transform: translate(0, 0%);
        -ms-transform: translate(0, 0%);
            transform: translate(0, 0%);
    z-index: 50;
  }

  .menu__list {
    margin-top: 3.125rem;
  }

  .menu__list li:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    width: 2.1875rem;
    height: 1.25rem;
    cursor: pointer;
    z-index: 51;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    border-radius: 40px;
    background-color: #E2DCC8;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .icon-menu.active {
    position: fixed;
  }

  .icon-menu.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .home__container {
    margin-top: 0px;
  }

  .content-home__image img {
    max-width: calc(180px + 60 * ((100vw - 320px) / 1120));
  }

  .skills__title {
    margin-bottom: 40px;
  }

  .skills__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .column-skills__text {
    font-size: 20px;
  }

  .column-skills__text {
    max-width: 100%;
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 700px) {
  .design-skills__visible {
    -ms-grid-rows: auto auto;
    -ms-grid-columns: 240px 1fr;
        grid-template: [start] "img title" [row2] [row2] "text text" auto [row-end]/240px 1fr;
  }

  .design-skills__text {
    margin-top: 30px;
    text-align: center;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
  }
}

@media (max-width: 530px) {
  .design-skills__visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .design-skills__main-img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 30px;
  }

  .design-skills__title {
    text-align: center;
  }

  .design-skills__text {
    text-align: center;
    margin-top: 0;
  }

  .design-skills__imgs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 31px 0;
  }
}

@media (max-width: 29.99875rem) {
  .skills__slider .slider__item img {
    max-width: 280px;
  }

  .footer__links {
    padding: 1.25rem;
    gap: 1.25rem;
  }

  .footer__links img {
    max-width: 1.25rem;
  }

  .footer__btn {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media (min-width: 767.98px) and (max-width: 767.98px) {
  .menu__list {
    gap: 40px;
  }
}