@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/*Clearfix*/
 
.clear:before,
.clear:after {
  content: "";
  display: table;
}
 
.clear:after {
  clear: both;
}
 
.clear {
  clear: both;
}

/*----------------------------------------------------------------*/

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* object-fit: cover; */
}

body {
  background-color: #E5E5E5;
  font-family:Poppins;
  font-size: 20px;
  color: #616161;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1072px;
  margin: 0px auto;
  padding: 0px 15px;
}

/* 4K */
@media (min-width: 1660px) {
  [class*="__container"] {
    max-width: 1600px;
  }
}

/* PC */
@media (max-width: 1087px) {
  [class*="__container"] {
    max-width: 970px;
  }
}

/* TABLET*/
@media (max-width: 991.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}

/* MOBILE*/
@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
  }
}

/* MOBILE SMALL*/
@media (max-width: 479.98px) {
}

/*----------------------------------------------------------------*/

.button {
  background: #58A9A5;
  padding: 14px 60px;
  min-height: 54px;
  border-radius: 14px 14px 14px 0px;

  font-weight: 500;
  font-size: 17px;
  line-height: calc(38 / 25 * 100%);
  color: #fff;
  
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background 0.3s ease 0s;
  white-space: nowrap;
}

.button:hover {
  background: #376967;
}

/*! ----------block-text----------*/

.block-text > *:not(:last-child) {
  margin-bottom: 34px;
}

.block-text__title {
  font-weight: 800;
  font-size: 47px;
  line-height: calc(105 / 70 * 100%);
  color: #1C2323;
}

.block-text__text {
  font-weight: 400;
  font-size: 20px;
  line-height: calc(45 / 30 * 100%);
  color: #404242;
}

/*-----------------------------HEADER-----------------------------*/

.header__container {
  display: flex;
  min-height: 170px;
  align-items: center;
  justify-content: space-between;
}

.header__logo img {
  width: 106.17px;
  height: 36px;
}

.header__menu {
  flex: 1 1 auto;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.menu__list {
  display: flex;
  gap: 58px;
  justify-content: flex-end;
}

.menu__link {
  position: relative;
  justify-content: center;
  display: flex;
  color: #404242;
  font-weight: 400;
  font-size: 17px;
  line-height: calc(38 / 25 * 100%);
}

.menu__link:hover {
  color: #58A9A5;
  
}

.menu__link:hover::before {
  position: absolute;
  top: 25px;
  content: "";
  height: 4px;
  width: 33px;
  background-color: #FEC62D;
  border-radius: 14px;
}

.header__button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0 0 333px;
}

.button_header {
  border-radius: 10px;
}

@media (min-width: 1660px) {

  .header__container {
    min-height: 250px;
  }
  .header__logo img {
    width: 156.14px;
    height: 53px;
  }
  .menu__list {
    gap: 86px;
  }
  .menu__link {
    font-weight: 400;
    font-size: 25px;
  }
  .menu__link:hover::before {
    top: 35px;
    height: 6px;
    width: 48px;
    border-radius: 21px;
  }
  .header__button {
    flex: 0 0 491px;
  }
  .button {
    padding: 21px 88px;
    min-height: 80px;
    border-radius: 20px 20px 20px 0px;

    font-weight: 500;
    font-size: 25px;
  }
  .button_header {
    border-radius: 15px;
  }
}

@media (max-width: 1087px) {
  .header__container {
    min-height: 150px;
  }
  .header__logo {
    flex: 0 0 46px;
    overflow: hidden;
  }
  .header__logo img {
    width: 156.14px;
    height: 53px;
  }
  .header__button {
    flex: 0 0 300px;
  }
}

@media (max-width: 991.98px) {
  .header__container {
    min-height: 130px;
  }
  .header__logo img {
    width: 156.14px;
    height: 53px;
  }
  .header__logo {
    flex: 0 0 auto;
  }
  .menu__link:hover::before {
    top: 25px;
    height: 4px;
    width: 48px;
    border-radius: 21px;
  }
}

/*?-----------------------TO HIDE THE MENU------------------------*/

@media (max-width: 991.98px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #E5E5E5;
    padding: 90px 15px 30px 15px;
    transition: left 0.3s ease 0s;
  }

  .header:target .menu__body {
    left: 0;
  }

  .header:target .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #E5E5E5;
  }

  .menu__item {
    margin: 0 0 25px 0;
  }

  .menu__item:last-child {
    margin-bottom: 0;
  }

  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu__link {
    color: #404242;
    font-size: 20px;
  }
}

/*?-----------------------TO DRAW A BURGER------------------------*/

.close-icon-menu,
.icon-menu {
  display: none;
}

@media (max-width: 991.98px) {
  .icon-menu {
    z-index: 500;
    display: flex;
    position: relative;
    flex: 0 0 54px;
    height: 30px;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 20px;
  }
  
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    background-color: #404242;
    height: 3px;
  }
  
  .icon-menu span {
    height: 3px;
    background-color: #404242;
  }

  .close-icon-menu {
    flex: 0 0 54px;
    height: 54px;
    position: relative;
    margin: 0 0 0 20px;
  }

  .close-icon-menu::before,
  .close-icon-menu::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    background-color: #404242;
    height: 3px;
  }

  .close-icon-menu::before {
    transform: rotate(-45deg);
  }

  .close-icon-menu::after {
    transform: rotate(45deg);
  }

  .header:target .icon-menu {
    display: none;
  }

  .header:target .close-icon-menu {
    display: flex;
  }
}

/*----------------------------------------------------------------*/

@media (max-width: 500px) {
  .header__container {
    min-height: 100px;
  }
  .header__logo {
    flex: 0 0 46px;
    overflow: hidden;
  }
  .header__button {
    flex: 0 0 200px;
  }
  .icon-menu {
    flex: 0 0 34px;
    height: 25px;
    margin: 0 0 0 20px;
  }
  .button_header {
    padding: 10px 40px;
  }
}

/*--------------------------INSPIRATION---------------------------*/

.inspiration__container {
  display: flex;
  justify-content: space-between;
}

.inspiration__block-text {
  margin-top: 46px;
  flex: 0 1 46%;
}

.inspiration__image {
  margin-top: 12px;
  padding-left: 24px;;
  flex: 0 1 54%;
}

.inspiration__image img {
  max-width: 100%;
}

@media (min-width: 1660px) {
  .block-text > *:not(:last-child) {
    margin-bottom: 50px;
  }
  .block-text__title {
    font-weight: 800;
    font-size: 70px;
    line-height: calc(105 / 70 * 100%);
    color: #1C2323;
  }
  .block-text__text {
    font-weight: 400;
    font-size: 30px;
    line-height: calc(45 / 30 * 100%);
    color: #404242;
  }
  .inspiration__block-text {
    margin-top: 68px;
  }
  .inspiration__image {
    padding-left: 35px;
    margin-top: 17px;
  }
}

@media (max-width: 1087px) {
  .inspiration__container {
    align-items: center;
    margin-top: 20px;
  }
  .block-text__title {
    font-size: 35px;
  }
  .inspiration__block-text {
    margin-top: 0;
  }
  .inspiration__image {
    margin-top: 0;
  }
}

@media (max-width: 991.98px) {
  .block-text__title {
    font-size: 30px;
  }
  /* .block-text__text {
    font-size: 15px;
  } */
}

@media (max-width: 767.98px) {
  .inspiration__container {
    flex-direction: column;
    text-align: center;
  }
  .block-text__title {
    font-size: 40px;
  }
  .block-text__text {
    font-size: 20px;
  }
  .inspiration__image {
    display: flex;
    justify-content: center;
    padding-left: 0;
    align-items: center;
  }
  .inspiration__image img {
    margin-top: 50px;
    max-width: 80%;
  }
}

@media (max-width: 479.98px) {
  .block-text__title {
    font-size: 30px;
  }
  .block-text__text {
    font-size: 15px;
  }
  .inspiration__image img {
    margin-top: 50px;
    max-width: 100%;
  }
}

/*--------------------------HOW IT WORKS--------------------------*/

.how-it-works__container {
  margin-top: 84px;
}

.how-it-works__block-text {
  text-align: center;
  margin-bottom: 48px;
}

.how-it-works__block-text .block-text__title {
  margin-bottom: 14px;
}

.how-it-works__media {
  display: flex;
}

.how-it-works__video {
  flex: 1 1 65%;
  position: relative;
  overflow: hidden;
}

.how-it-works__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.how-it-works__description {
  flex: 0 1 35%;
  background-color: #CCF0E6;

}

.description {
  padding: 54px 75px;
  font-weight: 500;
  /* font-size: 14px; */
  line-height: calc(30 / 20 * 100%);
  color: #486958;
}

.description__text {
  margin-bottom: 28px;
}

.description__see-video {
  font-weight: 700;
  color: inherit;
}

.description__see-video:hover {
  text-decoration: underline;
}


@media (min-width: 1660px) {
  .how-it-works__container {
    margin-top: 123px;
  }
  .how-it-works__block-text {
    text-align: center;
    margin-bottom: 71px;
  }
  .how-it-works__block-text .block-text__title {
    margin-bottom: 20px;
  }
  .description {
    padding: 80px 110px;
    font-size: 20px;
  }
  .description__text {
    margin-bottom: 41px;
  }
}

@media (max-width: 991.98px) {
  .description {
    padding: 35px 45px;
    font-size: 14px;
  }
  .description__text {
    margin-bottom: 20px;
  }
  .how-it-works__video {
    flex: 0 0 60%;
  }  
  .how-it-works__description {
    flex: 0 0 40%;  
  }
}

@media (max-width: 767.98px) {
  .how-it-works__media {
    flex-direction: column-reverse;
    text-align: center;
  }
  .how-it-works__video {
    position: relative;
    padding-bottom: 56%;
  }  
  .description {
    font-size: 20px;
  }
}

@media (max-width: 479.98px) {
  .how-it-works__media {
    margin: 0 -15px;
  }
  .how-it-works__video {
    margin: 20px 15px 0 15px;
  }
  .description {
    font-size: 16px;
  }
}

/*-----------------------------MISSION----------------------------*/

.mission {
  padding-top: 102px;
}

.mission__container {
  display: flex;
}

.mission__image {
  flex: 1 1 50%;
}

.mission__image img {
  max-width: 435px;
}

.mission__text {
  flex: 1 1 50%;
}

.mission__text_title {
  font-weight: 700;
  font-size: 27px;
  line-height: calc(60 / 40 * 100%);
  color: #1C2323;
  margin-bottom: 34px;
}

.mission__text_text {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(45 / 30 * 100%);
  color: #486958;
}

@media (min-width: 1660px) {
  .mission {
    padding-top: 150px;
  }
  .mission__text_title {
    font-size: 40px;
    margin-bottom: 50px;
  }
  .mission__text_text {
    font-size: 30px;
    max-width: 670px;
  }
  .mission__image img {
    max-width: 100%;
  }
}

@media (max-width: 991.98px) {
  .mission__container {
    flex-direction: column-reverse;
    text-align: center;
  }
  .mission__image {
    margin-top: 34px;
  }
  .mission__image img {
    max-width: 100%;
  }
  .mission__text_text {
    font-size: 20px;
  }
}

@media (max-width: 767.98px) {
  .mission__text_text {
    font-size: 14px;
  }
}

/*---------------------------OUR PROJECT--------------------------*/

.our-project {
  padding-top: 82px;
}

.our-project__block-text {
  z-index: -1;
  margin-bottom: 100px;
  text-align: center;
  position: relative;
}

.our-project__block-text::before {
  content: "";
  position: absolute;
  top: 150px;

  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  width: 92px;
  height: 4px;
  background-color: #58A9A5;
}

.our-project__block-text::after {
  content: "";
  position: absolute;
  top: 160px;

  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  width: 92px;
  height: 4px;
  background-color: #58A9A5;
}

.our-project__block-text .block-text__title {
  margin-bottom: 14px;
}

.media-our-project {
  display: flex;
  gap: 81.6px;
  
}

.media-our-project__item {
  flex: 0 1 33.333%;
  display: flex;
  flex-direction: column;

}

.media-our-project__title {
  font-weight: 700;
  font-size: 27px;
  line-height: calc(60 / 40 * 100%);
  color: #58A9A5;
  margin-bottom: 5px;
}

.media-our-project__text {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(30 / 20 * 100%);
  color: #486958;
  flex: 1 1 auto;
}

.media-our-project__text:not(:last-child) {
  margin-bottom: 24px;
}

.media-our-project__image img {
  border-radius: 0 0 50% 50%;
  max-width: 100%;
}

.media-our-project__image_round img {
  border-radius: 50%;
  margin-bottom: 14px;
}

@media (min-width: 1660px) {
  .our-project {
    padding-top: 120px;
  }
  .our-project__block-text {
    margin-bottom: 140px;
  }
  .our-project__block-text::before {
    top: 210px;
    width: 135px;
    height: 6px;
  }
  .our-project__block-text::after {
    top: 230px;
    width: 135px;
    height: 6px;
  }
  .our-project__block-text .block-text__title {
    margin-bottom: 20px;
  }
  .media-our-project__title {
    font-size: 40px;
    margin-bottom: 5px;
  }
  .media-our-project__text {
    font-size: 20px;
  }
}

@media (max-width: 1087px) {
  .our-project__block-text::before {
    top: 135px;
  }
  .our-project__block-text::after {
    top: 145px;
  }
  .media-our-project__text {
    font-size: 18px;
  }
  .media-our-project {
    gap: 60px;
  }
}

@media (max-width: 991.98px) {
  .media-our-project {
    flex-wrap: wrap;
    margin: 0 -30px;
    gap: 0;
  }
  .media-our-project__item {
    flex: 0 1 50%;
    padding: 0 30px;
  }
  .media-our-project__item:last-child {
    flex: 1 1 100%;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
  }
}

@media (max-width: 767.98px) {
  .media-our-project__item {
    flex: 1 1 100%;
    text-align: center;
    justify-content: center;
  }
  #middle {
    flex-direction: column-reverse;
  }
  .media-our-project__item:last-child {
    margin-top: 0;
  }
  .media-our-project__image_round img {
    margin-bottom: 0;
  }
  .media-our-project__item:not(:last-child) {
    margin-bottom: 50px;
  }
  .media-our-project__title {
    margin-bottom: 10px;
  }
  .media-our-project__text {
    margin-bottom: 40px;
  }
  .media-our-project__text:not(:last-child) {
    margin-bottom: 40px;
  }
}

/*---------------------------TESTIMONIAL--------------------------*/

.testimonal {
  padding-top: 170px;
}

.testimonal__title {
  margin-bottom: 15px;
  text-align: center;
}

.testimonal__logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 61px;
  margin: 0 118px;
}

.testimonal__logo {
  flex: 0 1 25%;
  text-align: center;
}

.testimonal__logo img {
  max-width: 100%;
}

@media (min-width: 1660px) {
  .testimonal {
    padding-top: 250px;
  }
  .testimonal__title {
    margin-bottom: 22px;
  }
  .testimonal__logos {
    gap: 90px;
    margin: 0 173px;
  }
}

@media (max-width: 1087px) {
  .testimonal__title {
    margin-bottom: 5px;
  }
  .testimonal {
    padding-top: 82px;
  }
  .testimonal__logos {
    gap: 50px;
    margin: 0;
  }
}

@media (max-width: 767.98px) {
  .testimonal__logos {
    flex-wrap: wrap;
  }
  .testimonal__logo img {
    min-width: 170px;
  }
  .testimonal__logos {
    gap: 10px;
  }
}

@media (max-width: 479.98px) {
  .testimonal__logos {
    gap: 25px;
  }
}

/*-----------------------------ROSCOE-----------------------------*/

.roscoe {
  padding-top: 42px;
}
.roscoe__container {
  display: flex;
}

.roscoe__image {
  flex: 0 1 30%;
}

.roscoe__image img {
  max-width: 418px;
}

.roscoe__body {
  flex: 0 1 70%;
}

.body-roscoe {
  padding: 58px;
  background: #CCF0E6;
}

.body-roscoe__stats {
  display: flex;
}

.stats-body-roscoe {
  gap: 80px;
}
.stats-body-roscoe__item {
  flex: 0 1 33.333%;
}

.stats-body-roscoe__item:last-child {
  flex: 2 1 auto;
}

.stats-body-roscoe__number {
  font-weight: 800;
  font-size: 48px;
  line-height: calc(105 / 70 * 100%);
  color: #58A9A5;
}
.stats-body-roscoe__text {
  font-weight: 600;
  font-size: 20px;
  line-height:calc(45 / 30 * 100%);
  color: #58A9A5;
}

.quote-body-roscoe {
  position: relative;
  margin-top: 63px;
}

.quote-body-roscoe__image {
  position: absolute;
  z-index: 0;
  top: -40px;
  left: -25px;
}

.quote-body-roscoe__image img {
  max-width: 68%;
}

.quote-body-roscoe__text {
  position: relative;
  z-index: 2;
  font-weight: 500;
  font-size: 17px;
  line-height: calc(38 / 25 * 100%);
  color: #486958;
}
.quote-body-roscoe__author {
  margin-top: 37px;
  position: relative;
  font-style: italic;
  font-weight: 500;
  font-size: 17px;
  line-height: calc(38 / 25 * 100%);
  color: #58A9A5;
}

@media (min-width: 1660px) {
  .roscoe {
    padding-top: 62px;
  }
  .roscoe__image img {
    max-width: 615px;
  }
  .body-roscoe {
    padding: 85px 95px 50px 95px;
  }
  .stats-body-roscoe {
    gap: 117px;
  }
  .stats-body-roscoe__number {
    font-size: 70px;
  }
  .stats-body-roscoe__text {
    font-size: 30px;
  }
  .quote-body-roscoe {
    margin-top: 84px;
  }
  .quote-body-roscoe__image {
    top: -50px;
    left: -25px;
  }
  .quote-body-roscoe__image img {
    max-width: 100%;
  }
  .quote-body-roscoe__text,
  .quote-body-roscoe__author {
    font-size: 25px;
  }
}

@media (max-width: 1087px) {
  .roscoe__container {
    flex-direction: column-reverse;
    gap: 40px;
  }
  .roscoe__image {
    text-align: center;
  }
  .roscoe__image img {
    max-width: 100%;
  }
}

@media (max-width: 767.98px) {
  .roscoe__container {
    gap: 20px;
  }
  .body-roscoe {
    margin: 0 -15px;
  }
}

@media (max-width: 600px) {
  .body-roscoe__stats {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  .stats-body-roscoe__item:last-child {
    flex: 1 1 100%;
  }
  .stats-body-roscoe {
    gap: 40px;
  }
}

/*-----------------------------FOOTER-----------------------------*/

.contact {
  padding-top: 163px;
  margin-bottom: 227px;
}

.contact__container {
  display: flex;
  gap: 71px;
}

.contact__block-text {
  flex: 0 1 30%;
  position: relative;
  white-space: nowrap;
}

.contact__block-text::before {
  position: absolute;
  content: "";
  top: 155px;
  width: 92px;
  height: 4px;
  background-color: #58A9A5;
}

.contact__block-text::after {
  position: absolute;
  content: "";
  top: 165px;
  width: 92px;
  height: 4px;
  background-color: #58A9A5;
}

.contact__block-text .block-text__title {
  margin-bottom: 10px;
}

.contact__block-text .block-text__text {
  font-size: 17px;
}

.contact__form {
  flex: 1 1 auto;
  border: 1px solid #486958;
  padding: 38px 37px 24px 37px;
}

.form-contact__form {
  display: flex;
  flex-direction: column;
}

.contact__form input {
  font-weight: 500;
  font-size: 17px;
  line-height: calc(37 / 25 * 100%); 
  color: #486958;
  background-color: inherit;
}

.contact__input_name {
  border-bottom: 1px solid black;
  padding-bottom: 17px;
}

.contact__input_email {
  border-bottom: 1px solid black;
  padding-top: 39px;
  padding-bottom: 17px;
}

.contact__input_description {
  padding-top: 25px;
  padding-bottom: 17px;
}

.contact__button {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 1660px) {
  .contact {
    padding-top: 240px;
    margin-bottom: 334px;
  }
  .contact__container {
    gap: 105px;
  }
  .contact__block-text::before {
    top: 225px;
    width: 135px;
    height: 6px;
  }
  .contact__block-text::after {
    top: 240px;
    width: 135px;
    height: 6px;
  }
  .contact__block-text .block-text__text {
    font-size: 25px;
  }
  .contact__form {
    padding: 57px 55px 35px 55px;
  }
  .contact__form input {
    font-size: 25px;
  }
  .contact__input_name {
    padding-bottom: 25px;
  }
  .contact__input_email {
    padding-top: 57px;
    padding-bottom: 25px;
  }
  
  .contact__input_description {
    padding-top: 34px;
    padding-bottom: 25px;
  }
}

@media (max-width: 1087px) {
  .contact__container {
    gap: 30px;
  }
  .contact__block-text::before {
    top: 135px;
  }
  .contact__block-text::after {
    top: 145px;
  }
}

@media (max-width: 767.98px) {
  .contact__container {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  .contact__block-text {
    text-align: center;
  }
  .contact__block-text::before {
    top: 155px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  .contact__block-text::after {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    }
  .contact__button {
    justify-content: center;
    margin-top: 10px;
  }
}

@media (max-width: 479.98px) {
  .contact__block-text::before {
    top: 125px;
  }
  .contact__block-text::after {
    top: 135px;
  }
}

/* --------------------------------------------------------------------------------- */

._description {
  z-index: 100;
  font-family: Arial, Helvetica, sans-serif;

  /* height: 70px; */
  padding: 15px 0;
  width: 100vw;

  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;

  background-color: rgb(52, 125, 110);
  opacity: 0.9;

  justify-content: center;
  text-align: center;
}

.description__arrow {
  transition: all 0.3s ease 0s;
  text-align: center;
  cursor: pointer;
}

.description__arrow img{
  width: 20px;
}

.description__arrow.active {
  transform: rotate(180deg);
}

.description__text {
  color: white;
  font-size: 20px;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  line-height: 1.3;
  padding: 10px;
}

.description__button {
  text-transform: uppercase;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  letter-spacing: 2px;
  transition: all 0.3s ease 0s;
  font-weight: 500;
}

.description__button:hover {
  color: rgb(52, 125, 110);;
  background-color: white;
}

.description__content {
  margin-bottom: 10px;
}