@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/*--------------------*/

html {
  font-family: Georgia, Arial, sans-serif;
}

h1 {
  font-size: 26pt;
}

h2 {
  font-size: 15pt;
}

h3 {
  font-size: 12pt;
}

h5 {
  font-size: 10pt;
}


body {
  background: #000;
  color: #fff;
}
 
 
.container {
  width: 960px;
  margin: 0 auto;
  /* border: 1px dashed white; */
}
 
.row {
  background: #1c1c1c;
 
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*==============================
       weird-nav
==============================*/
 
.weird-nav {
  font: 1em Verdana, Arial, sans-serif;
  background: #111;
  float: right;
  padding: 15px 8px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 10px;
  margin-bottom: 1px;
}
 
.weird-nav li {
  display: inline-block;
  color: #fff;
  border-right: 1px solid #4f4f4f;
  font-size: 9pt;
  padding: 0 8px;
}
 
.weird-nav li:last-child {
  border-right: 0;
}
 
.weird-nav a {
  color: #4f4f4f;
  text-decoration: none;
}
 
.weird-nav a:hover {
  color: white;
} 
 
/*Clearfix*/
 
.clear:before,
.clear:after {
  content: "";
  display: table;
}
 
.clear:after {
  clear: both;
}
 
.clear {
  clear: both;
}
 
/*==============================
     header bottom
==============================*/
 
/*logo*/
 
h1 {
  padding-bottom: 5px;
}

.logo {
  padding-top: 22px;
  padding-bottom: 44px;
  color: #999;
  float: left;
}
 
/*Search Bar*/
 
#form {
  float: right;
  margin: 44px 0;
}
 
#form {
  background-color: #333;
  width: 270px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #454545;
}
 
#form input {
  all: unset;
  font: 16px system-ui;
  color: #999;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}
 
#form button {
  all: unset;
  cursor: pointer;
  padding: 0px 8px;
}
 
#form img {
  color: #b8b9b8;
  fill: currentColor;
  width: 22px;
  height: 22px;
}
 
/*==============================
        primary-nav
==============================*/
 
.primary-nav {
  background: #333;
  margin-bottom: 23px;
}
 
.primary-nav li {
  display: inline-block;
  padding: 9pt 20px;
  background: #333;
  border-right: 1px solid #000;
}
 
.primary-nav a {
  color:#999;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}
 
.primary-nav li:last-child {
  border-right: 0;
}
 
.primary-nav li:hover {
  background: black;
}
 
.primary-nav a:hover {
  color: white;
}


/*==============================
      Section main photos
==============================*/

.main {
  margin-top: 40px;
  padding-bottom: 40px;
  border-bottom: solid 10px #111;
}

.descript {
  line-height: 1.5;
  float: left;
  height: 450px;
  width: 300px;
  background-color: #1a1514;
  padding: 25px 30px;
  border-bottom: 1px solid #303030;
}

#left_arrow {
  padding-right: 20px;
}

.arrows {
  margin-bottom: 40px ;
} 

#inner_header {
  padding-bottom: 25px;
}

.more {
  color: white;
  text-decoration: none;
  float: right;
}

.main .more {
  margin-top: 20px;
}

.main-photo {
  height: 450px;
  background-color: #303030;
}

/*==============================
      Colums
==============================*/

.colums {
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
}

.top-sign {
  height: 50px;
  background-color: #111;
  border-bottom: solid 1px black;
  padding: 13px;
  color: #999;
}

.small-photo {
  height: 150px;
  width: 300px;
  background-color: #303030;
}

/*==============================
        Main info
==============================*/


.info {
  display: flex;
  justify-content: space-between;
  background-color: #1c1c1c;
  min-height: 338px;
  line-height: 1.2em;
}

.info h3 {
  padding: 34px 0;
}

.quick a {
  color: white;
  text-decoration: none;
}

.quick li {
  margin-bottom: 13px;
  padding-bottom: 5px;
  border-bottom: 1px solid #3b3b3b;
}


.special {
  color: #6b6b6b;
}

.sm {
  font: 1em Verdana, Arial, sans-serif;
  line-height: 32px;
  margin-bottom: 15px;
  border-bottom: 1px solid #3b3b3b;
  padding-bottom: 8px;
}

.sm span {
  padding-left: 5px;
  color: white;
  text-decoration: none;
}

.latest {
  width: 270px;
}

.quick {
  width: 200px;
}

.contact {
  width: 200px;
}

.update {
  width: 200px;
}

/*==============================
          Footer
==============================*/

footer {
  border-top: 10px solid #111;

  padding-bottom: 70px;
}
footer div{
  line-height: 50px;
  display: flex;
  justify-content: space-between;
}

.last-row {
  background-color: #1c1c1c;
}

footer P {
  font-size: 0.8em;
}

/* --------------------------------------------------------------------------------- */

.description {

  font-family: Arial, Helvetica, sans-serif;

  /* height: 70px; */
  padding: 15px 0;
  width: 100vw;

  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;

  background-color: #fff;
  opacity: 0.8;

  justify-content: center;
  text-align: center;
}

.description__arrow {
  transition: all 0.3s ease 0s;
  text-align: center;
  cursor: pointer;
}

.description__arrow img{
  width: 20px;
}

.description__arrow.active {
  transform: rotate(180deg);
}

.description__text {
  color: #000;
  font-size: 20px;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  line-height: 1.3;
  padding: 10px;
}

.description__button {
  text-transform: uppercase;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 5px;
  color: black;
  letter-spacing: 2px;
  transition: all 0.3s ease 0s;
  font-weight: 500;
}

.description__button:hover {
  color: white;
  background-color: #000;
}

.description__content {
  margin-bottom: 10px;
}