@charset "UTF-8";
/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
  }
  
  *, *:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  }
  
  :focus, :active {
	outline: none;
  }
  
  a:focus, a:active {
	outline: none;
  }
  
  nav, footer, header, aside {
	display: block;
  }
  
  html, body {
	/* height: 100%; */
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
  }
  
  input, button, textarea {
	font-family: inherit;
  }
  
  input::-ms-clear {
	display: none;
  }
  
  button {
	cursor: pointer;
  }
  
  button::-moz-focus-inner {
	padding: 0;
	border: 0;
  }
  
  a, a:visited {
	text-decoration: none;
  }
  
  a:hover {
	text-decoration: none;
  }
  
  ul li {
	list-style: none;
  }
  
  img {
	vertical-align: top;
  }
  
  h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: inherit;
  }
  
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration { display: none; }

/*Clearfix*/
 
.clear:before,
.clear:after {
  content: "";
  display: table;
}
 
.clear:after {
  clear: both;
}
 
.clear {
  clear: both;
}

/*--------------------*/

html {
  background-color: #3f3c3a;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  margin: 40px 0 40px 0;
}

h1 {
  color: #e5e5e5;
  font-weight: 500;
  font-size: 17px;
}

h2 {
  color: #333;
  font-size: 15px;
  font-style: italic;
  padding-bottom: 8px;
  margin-bottom: 15px;
  border-bottom: 1px solid #d7dbe0;
}

h5 {
  font-size: 12px;
}

p {
  font-size: 14px;
}

.container {
  width: 1000px;
  margin: 0 auto;
  background-color: #231f20;
  /* border: 1px dashed white; */
}

.top {
  height: 90px;
  background-color: #fcd05d;
}

.sides {
  padding: 0 20px;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*==============================
            header
==============================*/

/* !logo */

.logo {
  float: left;
  margin: 18px 0;
}

#logo {
  font-size: 22px;
  text-transform: uppercase;
  color: #333;
  padding-bottom: 12px;
  font-weight: 500;
}

#logo span {
  font-size: 28px;
}


/* !top right */

/* Search bar */

.top_right {
  float: right;
}

.search {
  height: 48px;
  width: 294px;
  background-color: #231f20;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 11px 15px;
}

#form input {
  all: unset;
  height: 26px;
  width: 168px;
  background-color: #f6bd4c;
  border-radius: 3px;
  font-size: 12px;
  padding: 0 6px;
  margin-right: 9px;
}


#form button {
  all: unset;
  cursor: pointer;
  height: 26px;
  width: 70px;
  color: #f6bd4c;
  background-color: #525252;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

/* login */

.login {
  margin: 8px 29px;
}

.login lI {
  display: inline-block;
  color: #533209;
  border-right: 1px solid #533209;
  padding: 0 6px;
}

.login li:last-child {
  border-right: 0;
}

.login a {
  color: #533209;
  text-decoration: none;
}


/* !Primary Navigation */

.primary-nav ul{
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.primary-nav li {
  color: #666;
  border-left: 1px solid #666;
  padding-left: 25px;
}

.primary-nav a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

.primary-nav a:hover {
  color: #fcd05d;
}

.primary-nav h5 {
  margin-top: 10px;
}


/* !Second Navigation */

.second_nav ul {
  display: flex;
  height: 40px;
  width: 960px;
  padding-left: 15px;
  background-color: white;
  border-radius: 10px;
  align-items: center;
  vertical-align: center;
  margin-bottom: 30px;
}

.second_nav li {
  display: inline-block;
  margin-right: 36px;
}

.second_nav a {
  color: #333;
  text-decoration: none;
}


/*==============================
            preview
==============================*/

.raw {
  position: relative;
}

.raw::before {
  position: absolute;
  bottom: 50px;
  z-index: 1;
  content: "";
  height: 90px;
  width: 1000px;
  background-color: black;
}

.preview {
  position: relative;
  z-index: 2;
  display: flex;
  height: 300px;
  border: 1px solid #333;
  margin: 0 20px 30px 20px;
}

.preview_img {
  z-index: 2;
  width: 480px;
  height: 280px;
  margin: 10px;
}

.preview_info {
  margin: 10px;
  padding-top: 5px;
}

.preview_info p {
  line-height: 23px;
  color: #979797;
  padding: 15px 20px 25px 0;
  /* text-align: justify; */
}

#more {
  float: right;
  margin-right: 10px;
  text-decoration: none;
  color: #fcd05d;
}

.preview_small_imags {
  position: absolute;
  display: flex;
  /* justify-content: space-between; */
  bottom: 30px;
}

.preview_small_imags img {
  height: 60px;
  width: 90px;
}

.preview_small_imags div {
  border: 1px solid #333;
  padding: 4px;
  margin-right: 10px;
}


/*==============================
            main
==============================*/

main {
  /* display: flex; */
  width: 1000px;
  margin: 0 auto;
  background-color: white;
}

/* !Left Part */

.main_left {
  float: left;
  width: 710px;
  padding-right: 10px;
}

.students {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.students img {
  width: 210px;
  height: 80px;
}

.student_img {
  border: 1px solid #d7dbe0;
  padding: 4px;
}

/* !Main Info */

main a {
  color: #ce4521;
  font-size: 14px;
}

.main_info {
  display: flex;
  justify-content: space-between;
}

/* !News */

.latest {
  width: 66%;
  /* margin-right: 20px; */
}

.news_container {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d7dbe0;
}

.news_container p {
  margin-top: 15px;
  line-height: 20px;
  overflow: hidden;
  /* text-align: justify; */
  
}

.news_img {
  float: left;
  border: 1px solid #d7dbe0;
  padding: 4px;
  margin-right: 20px;
}

.links {
  width: 33%;
  padding-left: 20px;
  padding-bottom: 35px;
}

.links a {
  display: block;
  line-height: 4px;
}


/*==============================
            aside
==============================*/

aside {
  display: flex;
  float: right;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 35px;

}

aside div {
  margin-bottom: 30px;
}

video {
  width: 230px;
  height: auto;
}


/*==============================
            footer
==============================*/

footer {
  border-top: 5px solid #ce4521;
}

footer h2 {
  border-bottom: none;
  margin: 0;
  padding: 0;
  /* margin: 30px 0 15px 0; */

  color: white;
}

footer a {
  display: block;
  color: #979797;
}

/* Quick Links */

.quick_links {
  float: left;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 95px;
}

.quick_links a {
  margin-bottom: 5px;
}

.quick_links h2 {
  margin-bottom: 23px;
}

/* How To Find Us */

.find {
  float: left;
  margin-top: 30px;
  margin-bottom: 30px;
}

.find h2 {
  margin-bottom: 23px;
}

.find address {
  font-style: normal;
  color: #979797;
  margin-bottom: 5px;
}

.find br {
  margin-bottom: 5px;
}

.find p {
  color: #979797;
  margin-bottom: 5px;
}

/* Connect With Us */

.connect {
  float: right;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 5px 0 5px 34px;
  border-left: 1px solid #979797;;
}

.connect_img {
  margin-bottom: 20px;
}

.connect img {
  border-radius: 50%;
}

.connect a {
  display: inline-block;
  margin-right: 18px;
}

.connect h2 {
  margin-bottom: 20px;
}


#bottom_form input:focus::placeholder {
  color: transparent;
}

#bottom_form input {
  all: unset;
  height: 30px;
  width: 235px;
  /* color: #979797; */
  background-color: white;
  border-radius: 3px;
  font-size: 12px;
  padding: 0 6px;
  margin-right: 12px;
}


#bottom_form button {
  all: unset;
  cursor: pointer;
  height: 30px;
  width: 100px;
  color: black;
  background-color: white;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

/* Bottom */

.bottom {
  padding: 20px 0 20px 0;
  border-top: 2px solid #595758;
}

.bottom p {
  color: #979797;
  font-size: 12px;
}

#bottom_left {
  float: left;
}

#bottom_right {
  float: right;
}

/* --------------------------------------------------------------------------------- */

.description {
  z-index: 100;
  font-family: Arial, Helvetica, sans-serif;

  /* height: 70px; */
  padding: 15px 0;
  width: 100vw;

  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;

  background-color: #fff;
  opacity: 0.8;

  justify-content: center;
  text-align: center;
}

.description__arrow {
  transition: all 0.3s ease 0s;
  text-align: center;
  cursor: pointer;
}

.description__arrow img{
  width: 20px;
}

.description__arrow.active {
  transform: rotate(180deg);
}

.description__text {
  color: #000;
  font-size: 20px;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  line-height: 1.3;
  padding: 10px;
}

.description__button {
  text-transform: uppercase;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 5px;
  color: black;
  letter-spacing: 2px;
  transition: all 0.3s ease 0s;
  font-weight: 500;
}

.description__button:hover {
  color: white;
  background-color: #000;
}

.description__content {
  margin-bottom: 10px;
}